[Unit]
Description=Disklavier Recording and Web Service
After=network.target

[Service]
Type=forking
User=chrisdonahue
WorkingDirectory=/home/chrisdonahue/Code/disklavier
Environment=TMUX_TMPDIR=/tmp
ExecStart=/usr/bin/tmux new-session -d -s DISKLAVIER
ExecStartPost=/usr/bin/tmux split-window -h -t DISKLAVIER
ExecStartPost=/usr/bin/tmux send-keys -t DISKLAVIER:0.0 'source .venv/bin/activate && disklavier-record' C-m
ExecStartPost=/usr/bin/tmux send-keys -t DISKLAVIER:0.1 'source .venv/bin/activate && disklavier-web --port=11000' C-m
ExecStop=/usr/bin/tmux kill-session -t DISKLAVIER
RemainAfterExit=yes
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target 